<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/main/tabs/cart"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Order Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="/" method="post" id="payment-form">
    <div class="group">
      <label>
        <span>Card number</span>
        <div id="card-number-element" class="field"></div>
        <span class="brand"><i class="pf pf-credit-card" id="brand-icon"></i></span>
      </label>
      <label>
        <span>Expiry date</span>
        <div id="card-expiry-element" class="field"></div>
      </label>
      <label>
        <span>CVC</span>
        <div id="card-cvc-element" class="field"></div>
      </label>
      <label>
        <span>Postal code</span>
        <input id="postal-code" name="postal_code" class="field" placeholder="90210" />
      </label>
    </div>
    <ion-button *ngIf="!paymentComplete" type="submit" expand="full" [disabled]="isProcessing">
      <div *ngIf="isProcessing">
        <ion-spinner name="dots" color="tertiary"></ion-spinner>
      </div>
      <div *ngIf="!isProcessing">
        Complete Payment
      </div>
    </ion-button>
    <ion-button *ngIf="paymentComplete" expand="full" color="success" disabled=true>Payment Successful!</ion-button>
    <div class="outcome">
      <div id="card-errors" class="error"></div>
      <div class="success">
        Your payment has been completed!
      </div>
    </div>
  </form>
</ion-content>
