<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/main/tabs/menu/cart"></ion-back-button>
    </ion-buttons>
    <ion-title>Order Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid class="ion-no-padding">
    <div *ngIf="loadedQuoteItems.length > 0">
      <ion-row>
        <ion-col>
          <ion-list>
            <div *ngFor="let quoteItem of loadedQuoteItems">
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-img [src]="quoteItem.imageUrl"></ion-img>
                </ion-thumbnail>
                <ion-label class="ion-text-right">{{ quoteItem.itemName }}</ion-label>
                <ion-label class="ion-text-right">{{ quoteItem.itemQuantity }}</ion-label>
                <ion-label class="ion-text-right">{{ quoteItem.totalItemPrice | currency }}</ion-label>
              </ion-item>
              <ion-item lines="none" *ngFor="let options of quoteItem.itemOptions | keyvalue">
                <ion-label>{{ options.key }}: {{ options.value }}</ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item lines="none">
            <ion-text>Sub Total</ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="8">
          <ion-item>{{loadedQuote.subTotal | currency}}</ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item lines="none">
            <ion-text>Tax Amount</ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="8">
          <ion-item>{{loadedQuote.taxAmount | currency}}</ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item lines="none">
            <ion-text>Grand Total</ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="8">
          <ion-item>{{loadedQuote.grandTotal | currency}}</ion-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid> -->

  <form action="/" method="post" id="payment-form">
    <!-- <div class="form-row">
      <div id="card-element"></div>
      <div id="card-errors" role="alert"></div>
    </div> -->
    <div class="group">
      <label>
        <span>Card number</span>
        <div id="card-number-element" class="field"></div>
        <span class="brand"><i class="pf pf-credit-card" id="brand-icon"></i></span>
      </label>
      <label>
        <span>Expiry date</span>
        <div id="card-expiry-element" class="field"></div>
      </label>
      <label>
        <span>CVC</span>
        <div id="card-cvc-element" class="field"></div>
      </label>
      <label>
        <span>Postal code</span>
        <input id="postal-code" name="postal_code" class="field" placeholder="90210" />
      </label>
    </div>
    <ion-button *ngIf="!paymentComplete" type="submit" expand="full" [disabled]="isProcessing">
      <div *ngIf="isProcessing">
        <ion-spinner name="dots" color="tertiary"></ion-spinner>
      </div>
      <div *ngIf="!isProcessing">
        Complete Payment
      </div>
    </ion-button>
    <ion-button *ngIf="paymentComplete" expand="full" color="success" disabled=true>Payment Successful!</ion-button>
    <div class="outcome">
      <div id="card-errors" class="error"></div>
      <div class="success">
        Your payment has been completed!
      </div>
    </div>
  </form>
</ion-content>
