<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isOrderLoading"></ion-spinner>
  <ion-grid *ngIf="!isOrderLoading">
    <ion-row>
      <ion-col class="ion-text-center">
        <h5>Your order has been completed!</h5>
        <p>Order # {{ loadedOrder.orderId }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <p>Pickup Time: {{ loadedOrder.prepTime | date : "MMMM dd, yyyy h:mm a" }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-spinner *ngIf="isOrderItemsLoading"></ion-spinner>
  <ion-grid *ngIf="!isOrderItemsLoading">
    <ion-row *ngFor="let item of loadedOrderItems">
      <ion-col size="3">
        <ion-img [src]="item.imageUrl"></ion-img>
      </ion-col>
      <ion-col>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
                <b>{{ item.itemName }}</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Quantity: {{ item.itemQuantity }}
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let option of item.itemOptions | keyvalue">
            <ion-col>
              <div *ngIf="!isObject(option.value)">{{ option.key.charAt(0).toUpperCase() + option.key.slice(1) }}: {{ option.value }}</div>
              <div *ngIf="isObject(option.value)">
                <div *ngFor="let value of getValues(option.value)">
                  {{ value }}
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col>
        <div style="float:right">{{ item.itemPrice | currency }}</div>
      </ion-col>  
    </ion-row>
  </ion-grid>
  <hr style="color:white">
  <ion-grid *ngIf="!isOrderLoading">
      <ion-row>
        <ion-col class="ion-text-right totals-summary">
          Subtotal
        </ion-col>
        <ion-col size="3" class="ion-text-right totals-summary">
          {{ loadedOrder.subTotal | currency }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right totals-summary">
          Tax
        </ion-col>
        <ion-col size="3" class="ion-text-right totals-summary">
          {{ loadedOrder.taxAmount | currency }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-right totals-summary">
          GrandTotal
        </ion-col>
        <ion-col size="3" class="ion-text-right totals-summary">
          {{ loadedOrder.grandTotal | currency }}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button type="button" color="secondary" expand="block" routerLink="/main/tabs/menu">Back to Menu</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
