<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/main/tabs/menu"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Choose Your Seafood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)" >
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            color="primary"
            (click)="chooseSauce()"
            expand="block"
            [disabled]="!form.valid"
          >
            Choose Yo Sawce
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let seafood of loadedSeafood; let index = index">
              <ion-grid>
                <ion-row>
                  <ion-col size="3" class="ion-text-center">
                    <ion-img [src]="seafood.imageUrl"></ion-img>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4" class="chooseyourown">
                    <ion-label style="font-family:'Open Sans'">{{ seafood.name }}
                      <div>
                        {{ seafood.price | currency }}  /pound
                      </div>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="10">
                    <ion-button [id]="'button-'+seafood.id+'-remove'" class="seafood-button" color="tertiary" expand="block" (click)="removeSeafood($event)">
                      <ion-icon name="remove"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="10">
                    <ion-button [id]="'button-'+seafood.id+'-add'" class="seafood-button" color="primary" expand="block" (click)="addSeafood($event)">
                      <ion-icon name="add"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <label>Pounds</label>
                    <ion-input [id]="seafood.id" [name]="seafood.id" ngModel #inputCtrl="ngModel"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
