.chooseyourown {
    font-size: 0.8rem;
    .pricing {
        font-size: 0.7em;
    }
}
.seafood-input {
    --padding-end: 0px;
}
.seafood-button {
    --border-radius: 3px;
}
ion-item.item-input {
    padding-top: 0;
}
button.seafood-button-remove {
    width: 2.5em;
    height: 2.5em;
    background-color: blue;
    color: white;
    border-radius: 2px;
    box-shadow: 0 5px #999;
    &:active {
        background-color: darkblue;
        box-shadow: 0;
        transform: translateY(4px);
    }
}
button.seafood-button-add {
    width: 2.5em;
    height: 2.5em;
    background-color: red;
    color: white;
    border-radius: 2px;
    box-shadow: 0 5px #999;
    &:active {
        background-color: darkred;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
}
ion-input.seafood-input-field {
    top: 50%;
}
