.map {
    height: 50%;
    width: 100%;

    background-color: transparent;

    opacity: 0;
    transition: opacity 150ms ease-in;
}

.container {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    height:600px; 
}

.section {
    overflow:hidden;
    transition:flex 0.3s ease-out; // note that we're transitioning flex, not height!
    height:auto;
    flex:1;
  }
  
.section.collapsed {
flex: 0;
}

.map.visible {
    opacity: 1;
}