<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/main/tabs/menu/chooseyourown"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pick Your Sauce</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="pickYourSpicy()">Cajun</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="pickYourSpicy()">Lemon Pepper</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="pickYourSpicy()">Garlic Butter</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="pickYourSpicy()">All Mixed</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
