<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/main/tabs/menu/chooseyourown"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pick Your Sauce</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <p *ngIf="isLoading" class="ion-text-center">
    <ion-spinner name="dots"></ion-spinner>
  </p>
  <ion-grid *ngIf="!isLoading">
    <ion-row *ngFor="let flavor of loadedFlavors">
      <ion-col>
        <ion-button expand="block" color="primary" (click)="pickYourFlavor(flavor.label)">{{ flavor.label }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
