ion-image {
    max-height: 10px;
}

ion-icon {
    padding: 0 0.5em;
}

.product-option {
    display: none;
}

ion-back-button {
    font-size: 0.6rem;
}

.warning-message {
    background-color: var(--ion-color-warning);
}