.grid-header {
  background:lightslategray
}
.column-title {
  background:lightgray;
  border-radius: 2px;
  padding: 5px;
  text-align: center;
}
.row-entry {
  height: 30px;
}
.grid-cell {
  background:rgb(231, 234, 238);
  border: 1px solid #fff;
  text-align: center;
}