<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/main/tabs/menu/chooseyourown/pickyoursauce"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pick Your Spicy</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
    <p *ngIf="isLoading" class="ion-text-center">
      <ion-spinner name="dots" class="ion-text-center"></ion-spinner>
    </p>
    <ion-grid *ngIf="!isLoading">
      <ion-row *ngFor="let spicy of loadedSpicies">
        <ion-col>
          <ion-button expand="block" color="primary" (click)="pickYourSpicy(spicy.label)">{{ spicy.label }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
