<ion-header>
  <ion-toolbar>
    <ion-title>Order {{ selectedOrder.orderId }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCloseOrderDetails()">
        <ion-icon name="close-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div>
      <ion-list>
        <ion-item *ngFor="let orderItem of orderItems" lines="none" class="cart-item ion-no-padding">
          <ion-thumbnail slot="start">
            <ion-img [src]="orderItem.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <ion-grid class="ion-no-padding">
              <ion-row>
                <ion-col size="4">
                  <p>{{ orderItem.itemName }}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <p class="cart-item">Quantity:</p>
                </ion-col>
                <ion-col size="7">
                  <p class="cart-item">{{ orderItem.itemQuantity }}</p>
                </ion-col>
                <ion-col size="2">
                  <p style="float:right">{{ orderItem.totalItemPrice | currency }}</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="3">
                  <p class="cart-item">Price:</p><br>
                </ion-col>
                <ion-col>
                  <p>{{ orderItem.itemPrice | currency }}</p>
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col>
                  <p class="cart-item-options" *ngFor="let option of orderItem.itemOptions | keyvalue">
                    {{ option.key.charAt(0).toUpperCase() + option.key.slice(1) }}: {{ option.value }}
                  </p>
                </ion-col>
              </ion-row> -->
              <ion-row *ngFor="let option of orderItem.itemOptions | keyvalue">
                  <ion-col>
                    <div *ngIf="!isObject(option.value)">{{ option.key.charAt(0).toUpperCase() + option.key.slice(1) }}: {{ option.value }}</div>
                    <div *ngIf="isObject(option.value)">
                      <div *ngFor="let value of getValues(option.value)">
                        {{ value }}
                      </div>
                    </div>
                  </ion-col>
                </ion-row>

            </ion-grid>
          </ion-label>
        </ion-item>
      
        <ion-item-divider color="primary">
          <ion-label>
            Delivery Method
          </ion-label>
        </ion-item-divider>
        <ion-list>
          <ion-grid>
            <ion-row>
              <ion-col>
                <p style="float:right">Pickup</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-item-divider color="primary">
          <ion-label>
            Order Totals
          </ion-label>
        </ion-item-divider>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-right totals-summary">
              Subtotal
            </ion-col>
            <ion-col size="3" class="ion-text-right totals-summary">
              {{ selectedOrder.subTotal | currency }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-right totals-summary">
              Tax
            </ion-col>
            <ion-col size="3" class="ion-text-right totals-summary">
              {{ selectedOrder.taxAmount | currency }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-right totals-summary">
              GrandTotal
            </ion-col>
            <ion-col size="3" class="ion-text-right totals-summary">
              {{ selectedOrder.grandTotal | currency }}
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-list>
    </div>
  </ion-grid>
</ion-content>