<ion-header>
  <ion-toolbar>
    <ion-title>orders</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="contentScrollActive">

  <!-- New Orders-->
  <div id="new-status" class="item-group team-b" #newDropzone>
    <div class="team-name">
      <ion-item lines="none" class="team-background-color">
        New Orders
      </ion-item>
    </div>
    <div #newItems *ngFor="let order of newOrders" class="team-items">
      <ion-item class="item-background-color team-a" lines="none">
        Order {{ order.orderId }}
      </ion-item>
    </div>
  </div>

  <!-- Pending Orders -->
  <div id="pending-status" class="item-group team-b" #pendingDropzone>
    <div class="team-name">
        <ion-item lines="none" class="team-background-color">
          Pending Orders
        </ion-item>
    </div>
    <div #pendingItems *ngFor="let order of pendingOrders" class="team-items">
      <ion-item class="item-background-color team-b" lines="none">
        Order {{ order.orderId }}
      </ion-item>
    </div>
  </div>

  <!-- Complete Orders -->
  <div id="complete-status" class="item-group team-C" #completeDropzone>
    <div class="team-name">
        <ion-item lines="none" class="team-background-color">
          Complete Orders
        </ion-item>
    </div>
    <div #completeItems *ngFor="let order of completeOrders" class="team-items">
      <ion-item class="item-background-color team-C" lines="none">
        Order {{ order.orderId }}
      </ion-item>
    </div>
  </div>

</ion-content>
