<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="quoteItems.length > 0">
    <ion-row>
      <ion-col>
        <ion-button type="button" color="secondary" expand="block" (click)="onDeliveryButtonClick()">Checkout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding">
    <ion-row *ngIf="quoteItems.length == 0">
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label class="ion-text-center">There are no items in your cart.</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding">
    <div *ngIf="quoteItems.length > 0">
      <ion-list>
        <ion-item-sliding *ngFor="let quoteItem of quoteItems" #removeQuoteItem>
          <ion-item lines="none" class="cart-item ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-img [src]="quoteItem.imageUrl"></ion-img>
                </ion-col>
                <ion-col>
                  <ion-grid class="cart-item-details">
                    <ion-row>
                      <ion-col><b>{{ quoteItem.itemName }}</b></ion-col>
                    </ion-row>
                    <ion-row *ngFor="let option of quoteItem.itemOptions | keyvalue">
                      <ion-col>
                        <div *ngIf="!isObject(option.value)">{{ option.key.charAt(0).toUpperCase() + option.key.slice(1) }}: {{ option.value }}</div>
                        <div *ngIf="isObject(option.value)">
                          <div *ngFor="let value of getValues(option.value)">
                            {{ value }}
                          </div>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
                <ion-col size="3">
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col>
                        <div class="cart-quantity ion-no-padding ion-no-margin" style="float:right">
                            <ion-button color="light" (click)="addQuantity(quoteItem)" class="ion-no-padding">
                              <ion-icon name="add-outline" color="primary" size="small"></ion-icon>
                            </ion-button>
                          </div>
                          <div class="cart-quantity ion-no-padding ion-no-margin" style="float:right">
                            <p id="cart-count">{{ quoteItem.itemQuantity }}</p>
                          </div>
                          <div style="float:right">
                            <ion-button color="light" (click)="decrementQuantity(quoteItem)" class="ion-no-padding">
                              <ion-icon name="remove-outline" color="tertiary" size="small"></ion-icon>
                            </ion-button>
                          </div>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <div style="clear:both; float:right">
                            <p class="cart-item">{{ quoteItem.totalItemPrice | currency }}</p>
                          </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>  
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" (click)="deleteCartItem(quoteItem.id)">
              <ion-icon name="trash" slot="icon-only"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-divider color="primary">
          <ion-label>
            Delivery Method
          </ion-label>
        </ion-item-divider>
        <ion-list>
          <ion-item class="delivery-method" id="delivery-method" lines="none">
            <ion-label>Pickup</ion-label>
            <ion-checkbox slot="end" value="pickup" checked="true" disabled></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-item-divider color="primary">
          <ion-label>
            Store Location
          </ion-label>
        </ion-item-divider>
        <ion-list *ngIf="!isAccountLoading">
          <ion-item lines="none">
            <ion-label>Store</ion-label>
            <ion-select name="store" interface="popover" [value]="loadedAccountDetails[0].defaultStore">
              <ion-select-option [value]="location.storeId" [disabled]="!location.open" *ngFor="let location of loadedLocations">{{location.title}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="isAccountLoading">
          <ion-spinner name="dots"></ion-spinner>
        </ion-list>
        <ion-item-divider color="primary">
          <ion-label>
            Order Totals
          </ion-label>
        </ion-item-divider>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-right totals-summary">
              Subtotal
            </ion-col>
            <ion-col size="3" class="ion-text-right totals-summary">
              {{ subTotal | currency }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-right totals-summary">
              Tax
            </ion-col>
            <ion-col size="3" class="ion-text-right totals-summary">
              {{ taxAmount | currency }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-right totals-summary">
              GrandTotal
            </ion-col>
            <ion-col size="3" class="ion-text-right totals-summary">
              {{ grandTotal | currency }}
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-list>
    </div>
  </ion-grid>
</ion-content>
